.jumbo-got {
    background-image: url("./starkbanner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
    padding: 10%;
    margin-bottom: 0px;
}

.dark-text {
    color: #d4af37;
    text-shadow:
    -1px -1px 5px #000,
    1px -1px 5px #000,
    -1px 1px 5px #000,
    1px 1px 5px #000; 
}